// /$blue: #3bbfce; /* цвет */
//$margin: 16px; /* отступ */
//$fontSize: 14px; /* размер текста */
//
//.content {
//  border: 1px solid $blue; /* синий бордюр */
//  color: darken($blue, 20%); /* затемнение цвета на 20% */
//}
//
//.border {
//  padding: $margin / 2;
//  margin: $margin / 2;
//  border-color: $blue;
//}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s ease-out;
}
body {
  padding: 0 100px;
}

p {
  text-indent: 20px;
}

$greenlt: #98FB98;
@font-face {
  font-family: Caveat-Bold; /* Имя шрифта */
  src: url(../fonts/caveat/Caveat-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: CaveatBrush; /* Имя шрифта */
  src: url(../fonts/caveat-brush/CaveatBrush-Regular.ttf); /* Путь к файлу со шрифтом */
}

//nav.menu {
//  padding: 0 100px;
//}
.for_logo {
  position: relative;
  p:first-of-type {
    position: absolute;
    top: 55px;
   left: 100px;
    transform: rotate(-45deg);
    font: italic bold 12px/30px Georgia, serif;
  }
  p:last-of-type {
    position: absolute;
    top: 80px;
    left: 100px;
    transform: rotate(-45deg);
    font: italic bold 12px/30px Georgia, serif;
  }
}
.for_flex {
  display: flex;
  justify-content: space-between;
  .for_sct1 {
    //width: 30%;
    .classified-info {
      p {
        width: auto;
        text-align: left;
        text-transform: none;
      }
    }
  }
}
.for_logo img {
  max-width: 120px;
  border-radius: 50%;
  margin: 25px 0;
}
.for_post_form {
  .inputShablon {
    width: 250px;
    background-color: #c4e3f3;
    border: 1px solid #888888;
    display: block;
    margin: 20px 0;
    padding: 5px;
  }
  input {
    @extend .inputShablon;
  }
  textarea {
    @extend .inputShablon;
    height: 60px;
  }
  button {
    display: block;
    margin-bottom: 30px;
  }
}

.for_post_page {
  margin: 0 auto;
}

#for_switcher div {
  color: red;
  cursor: pointer;
}

.for_dog_cat, .for_terr_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.for_sct1 {
  width: 30%;
  img {
    max-width: 375px;

  }
}
.for_sect2 {
  flex: 1;
  max-width: 573px;
  margin: auto;
  margin-top: 30px;
  .for_h2 {
    border-bottom: 3.5px solid darken($greenlt, 35%);
    //border-bottom: 3.5px solid darken(#B6B6B6, 10%);
    margin: 0 145px;
    h2 {
      text-align: center;
      color: darken($greenlt, 50%);
      font-weight: 600;
      font-family: Caveat-Bold;
      border-bottom: 2.5px solid darken($greenlt, 40%);
      margin: 8px -30px;
    }
  }
  .descr_main {
    padding: 20px 20px 0;
    .for_descr {
      margin-bottom: 15px;
    }
  }
  .for_price {
    font-family: Caveat-Bold
  }
}

.for_images {
  display: flex;
  justify-content: space-around;
  img {
    max-width: 205px;
  }
}

.second_col {
  margin-top: -17px;
}

.for_name {
  position: relative;
  font-size: 20px;
  width: 80%;
  margin: 15px auto 15px;
  font-family: CaveatBrush;
  color: darken($greenlt, 45%);
  font-style: italic;
  span {
    position: absolute;
    right: 0;
    color: darken($greenlt, 40%);
    font-style: normal
  }
}

//[ng\:cloak], [ng-cloak], .ng-cloak {
//  display: none !important;
//}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

//=========================TERRARIUM PAGE=========================================
.for_terr_page {
  .for_sect2 {
    max-width: 375px;
    justify-content: space-between;
  }
  .for_images {
    display: flex;
    justify-content: space-around;
    img {
      max-width: 270px;
    }
  }
  .for_show_descr2 {
    color: darken($greenlt, 45%);
    cursor: pointer;
    font-weight: 600;
  }
}
@media (max-width: 815px) {
  body {
    padding: 0 20px;
  }
  #for_menubar {
    display: block;
    &>li {
      a {
        width: 98%;
        margin: 0 auto;
      }
      &:last-of-type {
        position: static;
      }
    }
    #for_listLincs {
      width: 200px;
      left: 50%;
      margin-left: -100px;
      padding: 3px;
    }
  }
}
@media (max-width: 470px) {
  .for_sect2 {
    width: 100%;
    .descr_main {
      padding: 20px 5px 0;
    }
  }
  .for_images {
    flex-wrap: wrap;
    .for_img {
      margin: 10px;
    }
  }
}